body {
    background-color:black; /* Black */
    color: #F8F8F8; /* Soft White */
    font-family: 'Monoton', cursive; /* Stylish neon-like font */
   
}
h1{
    color: #0AFF9D; /* Neon Green */
    text-shadow: 10px 10px 20px rgba(238, 6, 6, 0.8);
}
p{
    margin: 30px;
    letter-spacing: 15px;
    font-size:large;
    color: #0AFF9D; /* Neon Green */
    text-shadow: 0px 0px 10px rgba(10, 255, 157, 0.8);
}
.visit{
    margin: 40px;
}
li{
    text-decoration: none;
    border: 1px solid red;
    padding: 20px 40px;
    width:26%;
    float: left;
    margin: 50px;
    cursor: grabbing;
    transition: 0.5s;
    color: #0AFF9D; /* Neon Green */
   
    
}
li:hover{
    border-radius: 20px;
    border-left:violet ;
    border-right:violet ;
    transition: 0.5s;
}
@media only screen and (max-width:480px) {
    p{
        margin: 30px;
        letter-spacing:2px;
        font-size:large;
        color: #0AFF9D; /* Neon Green */
        text-shadow: 0px 0px 10px rgba(10, 255, 157, 0.8);
    }
    }
